* {
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    color: #1f2937;
}


h1, p {
    margin: 0;
    padding: 0;
    font: unset;
}

.top,
footer {
    background: #1f2937;
}

.logo,
.hero h1,
.action,
button.hero {
    color: #f9faf8;
}

h1.cards {
    text-align: center;
    padding: 3% 0 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 1.1em;
}

a {
    text-decoration: none;
}

a:hover {
    color: sandybrown;
}

a,
.hero p,
footer {
    color: #e5e7eb;
}

button,
.action {
    background: #3882f6;
}

.quote {
    background: #e5e7eb;
}

div.hero,
div.quote {
    padding: 5% 10%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2% 10%;
}

.logo,
h1.cards {
    font-size: 1.5em;
    font-weight: 900;
}


.hero {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.hero h1 {
    font-size: 2em;
    font-weight: 900;
    text-align: center;
}

.hero img {
    width: 100%;
    order: 0;
}

.hero-text {
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

button.hero {
    font-size: 1em;
    width: fit-content;
    padding: 0.5rem 0.75em;
    border-radius: 0.5em;
    border: none;
    font-weight: 700;
    align-self: center;
}

h1.cards {
    padding: 3% 5% 0%;
    text-align: center;
}

.card img {
    flex: 1 1 auto;
    max-width: 250px;
    border: 0.25em solid #3882f6;
    border-radius: 1em;
}

.card p {
    text-align: center;
    font-size: 1em;
    max-width: 250px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;

}

div.cards {
    padding: 2% 10%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

div.quote {
    font-size: 1.5em;
}

p.author {
    font-size: 0.8em;
    font-weight: 800;
    text-align: right;
    padding-top: 0.5em;
}


div.action {
    margin: 5% 10%;
    padding: 3% 5%;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.2em;
}

.text h1 {
    font-size: 1.3em;
    font-weight: 900;
    padding-bottom: 0.3em;
}

button.action {
    font-size: 1em;
    width: fit-content;
    padding: 0.25em 1em;
    border-radius: 0.5em;
    border: 0.1em solid #f9faf8;
    font-weight: 700;
    flex-shrink: 0;
    
}


footer {
    font-size: 1em;
    text-align: center;
    padding: 2%;
}



@media screen and (min-width: 900px) {
    body {
        font-size: 18px;
    }  

}


@media screen and (min-width: 1390px) {

    body {
        font-size: 20px;
    }

    ul {
        display: flex;
        gap: 1em;
    }   

    .hero {
        flex-direction: row;
    }

    .hero-text {
        order: 0;
        width: 45%;
        align-self: flex-end;
    }

    .hero img {
        width: 45%;
        height: 45%;
        align-self: center;
        margin-left: auto;
    }

    .hero-text h1 {
        text-align: left;
    }

    button.hero {
        align-self: flex-start;
    }

    div.action {
        flex-direction: row;
        justify-content: center;

    }

    button.action {
        align-self: center;
        margin-left: auto;
    }
}

@media screen and (max-width: 450px) {
    body {
        font-size: 12px;
    }

    .card p {
        font-size: 1.2em;
    }
    
    h1.cards {
        padding: 2% 25%;
    }
}


